@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f4f1de;
    color: #252ED9;
}

.file-input {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.file-input-label {
    display: block;
    font-weight: bold;
    font-size: 13px;
    margin-top: 5px;
    cursor: pointer;
}

.file-input-control {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

